html {
  color-scheme: light dark;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24pt;
  height: 100%;
}

body {
  flex-grow: 1;
  max-width: 1024px;
}

button {
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}